@{
        
          var reply = Request[("j")];
          var id = Request[("f")];
          }

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <form>
        <input type="text" value="@reply">
              <input type="text" value="@id">
    </form>
    </body>
</html>
