@{
var email = Request["email"];
 var posted = UrlData[0];


   if(IsPost)
          {
            if(email.IsEmpty()){
                ModelState.AddError("email", "Email is required");
            }
          
       }
                 
     
      }
@{        
if(IsPost&&ModelState.IsValid){
             
                   //  Database.Open("gRg'sblog")
                   // .Execute("SELECT  PostTable1(Title,PublicationDate,Summary,Body,Story_Preview)" + "VALUES(@0,@1,@2,@3,@4)",title,date_published,summary,body,story_preview);
                    
   
        }
        }

<!DOCTYPE html>
<head>
	<meta charset="UTF-8" />
	<title>gRg's blog</title>
	<link rel="stylesheet" type="text/css" href="Content/style.css" />
    <link rel="icon" type="image/png" href="./images/favicon.png" />
<link rel="stylesheet" type="text/css" href="Content/reset.css" />
<link rel="stylesheet" type="text/css" href="Content/superfish.css" />

<!-- This is for the  customized scrollbar--> 
<link href="Content/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
     
      
        <!--This code below allows the  global styling of the fonts--> 
        <!--remove and the styling from googlefont is not effected anymore--> 
       <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="ie6.css" />
	<![endif]-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

    
</head>
<body>
   <div class="topstrip">
   <ul>
				
				<li><a href="Default.cshtml">Blog</a></li>
				<li><a href="Hangouts.php">Hangouts</a></li>
				<li><a href="Connect.php">Connect</a></li>
			</ul></div>

 
<div id="wrapper"><!-- START WRAPPER-->
        <div id="tagline"><!--START TAGLINE-->
          	
       </div><!--END TAGLINE-->	      
    @Html.ValidationSummary()

	<div id="post-page"><!--START Postpage-->
     
  <form method="post" action="">

   <!--the number speciifed here allows you to target any particular div-->
   @Html.ValidationMessage("email", "*")
   <label for="div">Email</label><br/>
   <input type="text" name="email" required /><br/>


<br/><br/><br/>
<div>
<button type="submit">Next</button><br/>
  
        <a href=""> Dont have an account?
        Sign up here</a>
   </a>
</div>
                
    </form>
    </div><!--END Postpage-->
     </div>


    <div class="footer">
       
        <div id="About">
        <p>About</p>
            <div class ="seperator"></div>
            <ul>
            <li><a href ="#">System Admins</a></li>
            <li><a href ="http://www.gbenga-amedrovi.info">Developers</a></li>
            <li><a href ="#">Website Owners</a></li>
            <li><a href ="#">Sponsors</a></li>
            <li><a href ="#">Moderators</a></li>
        </ul>
          
       </div>

        <div id="Connect">
        <p>Info</p>
            <ul>
            <li><a href ="#">Entertainment</a></li>
            <li><a href ="#">Features</a></li>
            <li><a href ="#">Feedback</a></li>
             <li><a href ="#">Associates</a></li>
             <li><a href ="#">Phone</a></li>
           
        </ul>
          
       </div>

        <div id="Pages">
        <p>Pages</p>
            <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Mail us</a></li>
            <li><a href="#">Place sponsorship</a></li>
            <li><a href="#">Advertise</a></li>
        </ul>
          
       </div>
       <div id="Social">
        <p>Connect with us</p>
            <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Youtube</a></li>
         
        </ul>
          
       </div>
    </div>

</body>
		
	</html>