@{
Layout = "_Layout2.cshtml";


}

@section Header {


}
           
@section Body{

<div id="_block1" class="block1"> 
         		whats up dock
                      </div> 

}

@section Footer {

}
<div>

</div>
